<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cake Time</title>
	<link rel="stylesheet" href="cakes.css">
</head>
<body>
	<h1>Yummy Cakes (ft. cheesecakes)</h1>
		<div>
		<ul>
	    <li><%= @@chocoCake.name %></li>
			<li>Price$<%= @@chocoCake.price %></li>
			<li><%= @@chocoCake.description %></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<div>
		<ul>
	    <li><%= @@rainbowCake.name %></li>
			<li>Price$<%= @@rainbowCake.price %></li>
			<li><%= @@rainbowCake.description %></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<div>
		<ul>
	    <li><%= @@choasCake.name %></li>
			<li>Price$<%= @@choasCake.price %></li>
			<li><%= @@choasCake.description %></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<button><a href="/">Back</a></button>
</body>
</html>