<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cookie Time</title>
	<link rel="stylesheet" href="cookies.css">
</head>
<body>
	<h1>Contagous Cookies</h1>
	<div>
		<ul>
	    <li><%=@@choco.name%></li>
			<li>Price$<%=@@choco.price%></li>
			<li><%=@@choco.description%></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<div>
		<ul>
	    <li><%=@@rainbow.name%></li>
			<li>Price$<%=@@rainbow.price%></li>
			<li><%=@@rainbow.description%></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<div>
		<ul>
	    <li><%=@@choas.name%></li>
			<li>Price$<%=@@choas.price%></li>
			<li><%=@@choas.description%></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<button><a href="/">Back</a></button>
</body>
</html>