<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Muffin Time</title>
	<link rel="stylesheet" href="muffins.css">
</head>
<body>
	<h1>Delicious Muffins</h1>
		<div>
		<ul>
	    <li><%= @@chocoMuffins.name %></li>
			<li>Price$<%= @@chocoMuffins.price %></li>
			<li><%= @@chocoMuffins.description %></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<div>
		<ul>
	    <li><%=@@rainbowMuffins.name%></li>
			<li>Price$<%=@@rainbowMuffins.price%></li>
			<li><%=@@rainbowMuffins.description%></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<div>
		<ul>
	    <li><%=@@choasMuffins.name%></li>
			<li>Price$<%=@@choasMuffins.price%></li>
			<li><%=@@choasMuffins.description%></li>
		</ul>
	</div>
	<br>
	<br>
	<br>
	<button><a href="/">Back</a></button>
</body>
</html>